/*Ol*/
ol{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/*Steelers aka hero*/
.Steelers {
  background-color: #FFEB00;
  color:#fff;
  margin-bottom: 40px; 
  padding: 10px 0;
  text-align: center;
}
/*Logo*/
.Logo {
  font-size: 33px;
  font-weight: bold;
  text-transform: uppercase;
}
/*news-item*/
.news-item {
  border-bottom: 1px solid #b6b6b6;
  margin-bottom: 20px;
  padding-bottom: 20px;

}
/*news-link*/
.news-link {
  color: #3f51b5;
  font-size: 24px;
}
/*container*/
.container {
  margin:0 auto;
  max-width: 800px;
}
